.checkout h3{
    text-align: left;
    color: rgb(0,0,0,0.8);
    font-size: 38px;
    font-weight: 600;
    padding-left: 110px;
}
.checkout h4{
    margin: auto;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    color: rgb(0,0,0,0.6);
    padding-bottom: 1%;
}
.checkout p{
    color: rgb(0,0,0,0.6);
}

.text-box{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 1%;
    background: rgba(0,0,0,0.2);
    border-radius: 20px;
    margin-bottom: 1%;
    padding: 20px 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}
.text-box-3{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 1%;
    background: rgba(0,0,0,0.2);
    border-radius: 20px;
    margin-bottom: 1%;
    padding: 20px 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    
}
.text-box-3 img{
    /* height: 30%;
    width: 30%; */
    margin-left: 0;
    width:200px;
    height:200px;
    border-radius: 20px;
}
.text-box-3 .right h4{
    margin-top: 40px;
    font-size:30px;
    margin-right:250px;
}
.amount{
    padding-top: 10px;
    float:right;
}



.text-box-1{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 1%;
    background: rgba(0,0,0,0.2);
    border-radius: 20px;
    margin-bottom: 1%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.text-box-2{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 1%;
    background: rgba(0,0,0,0.2);
    border-radius: 20px;
    margin-bottom: 1%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.text-box img{
    float: left;
}
.text-box .right button{
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.text-box-2 button{
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}