.checkout h3{
    width: 80%;
    text-align: left;
    color: white;
    font-size: 38px;
    font-weight: 600;
    padding-left: 110px;
}
.checkout h4{
    width: 80%;
    margin: auto;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding-bottom: 1%;
}
.checkout p{
    color: white;
}
.text-box{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 1%;
    background: rgba(0,0,0,0.2);
    border-radius: 20px;
    margin-bottom: 1%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.text-box img{
    height: 30%;
    width: 30%;
    border-radius: 20px;
}
.text-box-1{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 1%;
    background: rgba(0,0,0,0.2);
    border-radius: 20px;
    margin-bottom: 1%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.text-box-2{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 1%;
    background: rgba(0,0,0,0.2);
    border-radius: 20px;
    margin-bottom: 1%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.text-box{
    display: flex;
    justify-content: space-around;
}
.text-box .right button{
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.text-box-2 button{
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}