.details{
    padding-top:10px;
}
.details img{
    width: 450px;
    height: 550px;  
    margin-right: 50px;
    float:left;
    border: 1px solid black;
    border-radius: 5px;
    flex-wrap: wrap;
}
.info{
    float:center;
    margin-left: 10%;
    margin-top: 50px;
}
#quantity{
    margin-left: 20px;
    margin-right: 20px;
}
.buttons{
    padding-top: 50px;
}
.buttons button{
    width: 30px;
    height: 30px;
}

#cart{
    font-size:100px;
    float: right;
    margin-right: 20%;
}
a{
    text-decoration: none;
    color: black;
}